<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingtous.remotefingerunlock">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Application.myApplication"
        android:networkSecurityConfig="@xml/network_enable_http"
        >
        <receiver android:name=".Widget.UnlockWidget_icon">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/unlock_widget_icon_info" />
        </receiver>
        <receiver android:name=".Widget.UnlockWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/unlock_widget_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="远程解锁"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothConnectTool.BluetoothConnectActivity"
            android:label="🔍蓝牙选择"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToolFragment.AboutFragment"
            android:label="关于"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToolActivity.Unlock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToolActivity.Scan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToolActivity.DataManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ToolActivity.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WLANConnectTool.WLANConnectActivity"
            android:label="🔍无线局域网选择"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".FileTransferTool.FileTransferActivity"
            android:label="📃文件传输"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".FileTransferTool.FileTransferFolderActivity"
            android:label="📃文件传输"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuTool.SettingActivity"
            android:label="设置"
            android:theme="@style/Theme.Settings"
            />

        <service android:name=".service.UnlockWidgetService" />
    </application>

</manifest>